@using Microsoft.Extensions.Options
@using MyLab.BlazorApp.Model
@using MyLab.BlazorApp.Services

@inherits LayoutComponentBase
@inject IOptions<BlazorApp> _app
@inject IUserService _userSrv

@{
    var app = _app.Value;
    var user = _userSrv.ProvideCurrentUser();
}

<div class="ml-root ml-h100 d-flex flex-row">
    <div class="ml-sidebar px-2">
        <div class="d-flex flex-row justify-content-center ml-sidebar-header">
            <a href="#" class="align-self-center" style="max-height: 70px">
                @{
                    var logoUrl = app.LogoUrl;
                }
                    <img src="@logoUrl" class="ml-logo" >
            </a>
        </div>
        <hr class="ml-sidebar-border">
        <div class="d-flex flex-column align-items-center py-4">
            
            @{
                var userPicUrl = user.UserPicUrl;
            }

            <img src="@userPicUrl" class="rounded-circle ml-sidebar-user-icon mb-3">
            <span class="ml-sidebar-username">@user.Name</span>

            @if (user.Subtitles != null)
            {
                foreach (var subt in user.Subtitles)
                {
                    <span class="ml-sidebar-text-muted">@subt</span>
                }
            }

            <div class="d-flex flex-row pt-4 align-self-stretch">

                <div class="d-flex flex-column align-items-center flex-fill"></div>

                @if (user.Gauges != null)
                {
                    foreach (var userGauge in user.Gauges)
                    {
                        var title = userGauge.Title;
                        var faClass = userGauge.FaClass;

                        <div class="d-flex flex-column align-items-center flex-fill" title="@title">
                            <a href="#" class="fw-bold ml-sidebar-gauge-value">@userGauge.Value <i class="fas fa-@faClass"></i></a>

                            @if (userGauge.AdditionLinkTitle != null)
                            {
                                var addLinkUrl = userGauge.AdditionLinkUrl;
                                <a href="@addLinkUrl" class="ml-sidebar-balance-link ml-adv-link">@userGauge.AdditionLinkTitle</a>
                            }
                        </div>
                        <div class="d-flex flex-column align-items-center flex-fill"></div>
                    }
                }
            </div>
        </div>
        <hr class="ml-sidebar-border">
        <div class="d-flex flex-column ml-sidenav pt-5 align-items-stretch">
            
            @if (app?.SectionsGroups != null)
            {
                foreach (var sectionGroup in app.SectionsGroups)
                {
                    if (sectionGroup.Sections == null) continue;

                    if (!string.IsNullOrEmpty(sectionGroup.Title))
                    {
                        <div class="ml-sidenav-item ml-sidenav-title d-flex flex-row">
                            <span class="align-self-center">@sectionGroup.Title</span>
                        </div>
                    }
                    
                    foreach (var section in sectionGroup.Sections)
                    {
                        var faClass = section.FaClass;
                        var title = section.Title;
                        var url = section.Url;
                        
                        <NavLink href="@url" class="ml-sidenav-item d-flex flex-row">
                            <i class="align-self-center fas fa-@faClass"></i>
                            <span class="align-self-center">@title</span>
                        </NavLink>
                    }
                }
            }
        </div>
    </div>
    <main class="d-flex flex-column flex-fill">
        <header>
            <nav class="navbar navbar-light bg-light border-bottom ml-content-pane-header ps-4">
                <div class="container-fluid ps-0">
                    <h1 class="navbar-brand">@app.Title</h1>
                    <div class="d-flex flex-row text-muted align-items-center">
                        <span>@user.Name</span>
                        <a href="#"><i class="fas fa-sign-out-alt mx-2 text-muted"></i></a>
                    </div>
                </div>
            </nav>
        </header>    
        <div class="container ml-content-pane ps-4 pt-4 flex-grow-1">
            @Body
        </div>
        <footer class="ml-footer bg-light ps-4 d-flex flex-row align-items-center">
            <div class="container ps-0 ms-0">
                <span class="text-muted">Copyright © 2022 — SomeOne</span>
            </div>
        </footer>
    </main>
    
</div>
